{% extends "pet/base.html" %}

{% block content %}

<div id="maincontainer">
 <div class="container">
    <br>
    <h2 class="error404"><span>Error 404!</span></h2> <br><br>    
    <div class="container centeralign">
      <i class="icon-warning-sign font124 "></i>
      <br>   
      <br>  
      <br>
      <h2 class="font24">  We are Sorry !!!</h2>
      <h3 class="font18">The page you are looking for could not found. <br> Please Check Top Menu.</h3>
    </div>
  </div>
</div>
<!-- /maincontainer -->

{% endblock%}



















