{% extends "pet/base.html" %}

{% block content %}
 
<div id="maincontainer">
  <section id="product">
    <div class="container">
      <!--  breadcrumb -->
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'pet:index' %}">Home</a>
          <span class="divider">/</span>
        </li>
        <li class="active"><a href="#">Activate Account</a></li> 
      </ul>
      <!-- Compare -->
      <div class="row span11">
        <!-- Compare Products-->
				<h3>You've successfully activated you account</h3>
				<h5>Please follow this link to log in now!</h5>
				<br>
				<br>
				<p><a class="btn btn-orange" href="{% url 'pet:login' %}">Login</a></p>
			</div>

	    <br>
    
    </div>
  </section>
</div>

{% endblock %} 