{% extends "pet/base_account.html" %}


{% block breadcrumbs %}
      <!--  breadcrumb --> 
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'pet:index' %}">Home</a>
          <span class="divider">/</span>
        </li>
        <li class="active"><a href="{% url 'pet:login' %}">Login</a></li>
      </ul>
{% endblock breadcrumbs %}

{% block content %}
       <!-- Account Login-->
        <div class="span9">
          <h1 class="heading1"><span class="maintext"> <i class="icon-lock"></i> Login</span></h1>

          {% if user.is_authenticated %}

          <h3>You are currently logged in.</h3>
          <h4 class="heading4">Please log out before creating an account or signing in.</h4>
          <br>
          <a class="btn btn-orange" href="{% url 'pet:logout' %}">Logout</a>

          {% else %}

          <section class="newcustomer">
            <h2 class="heading2">New Member </h2>
            <div class="loginbox">
              <h4 class="heading4"> Register Pet Owner Account</h4>
              <p>By creating an account you will be able to add your pets and their important information such as what they eat, walking instructions and emergency contact information.</p>
              <p><a href="{% url 'pet:create_account' %}" class="btn btn-orange">Continue</a></p>
              <br>
              <h4 class="heading4"> Register Pet Manager Account</h4>
              <p>By creating an account you will be able to view pet owners' pets once they grant you access and have all important and relevant information for the pets that you are taking care of in one place.</p>
              <a href="{% url 'pet:manager_create_account' %}" class="btn btn-orange">Continue</a>
            </div>
          </section>

          <section class="returncustomer">
            <h2 class="heading2">Returning Member </h2>
            <div class="loginbox">
              <h4 class="heading4">I am a returning member</h4>
	          <form class="form-vertical" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
              
              <div class="errorlist">
                <ul>
                  <li>{{ no_match }}</li>
                </ul>
              </div>

	            <fieldset>
	              <div class="control-group">
                    {{ form.username.errors }}
	                <label for="id_username" id="id_username" class="control-label">Username:</label>
	                <div class="controls"> 
	                  <input type="text" id="id_username" name="username" class="span3">
	                </div> 
	              </div> 
	              <div class="control-group">
                    {{ form.password.errors }}
	                <label for="id_password" id="id_password" class="control-label">Password:</label>
	                <div class="controls">
	                  <input type="password" id="id_password" name="password" class="span3">
	                </div>
	              </div>
                <div class="form-actions">
                  <input class="btn btn-orange" type="submit" value="Login" >
                </div>
                <p>Forgot Password? Click <a class="" href="{% url 'pet:forgot_password' %}">Forgotten Password</a></p>
	            </fieldset>
	          </form>
            </div>
          </section>

          {% endif %}

        </div>
{% endblock content %}



