{% extends "pet/base.html" %}


{% block content %}


<div id="maincontainer">
  <section id="product">
    <div class="container">
      <!--  breadcrumb -->
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'pet:index' %}">Home</a>
          <span class="divider">/</span>
        </li>
        <li class="active"><a href="#">Remove Pet</a></li> 
      </ul>


      <!-- Compare -->
      <div class="row">
        <!-- Compare Products-->
        <!-- <h1 class="heading1"><span class="maintext"> <i class="icon-refresh"></i> Pet Profile</span></h1> -->
        <div class="span12 pull-left">


					<h3>Are you sure?</h3>
					<h4>Are you sure that you want to remove the pet <a href="{% url 'pet:pet_detail' pet.pk pet.slug %}">"{{ pet.name }}"</a>?</h4>

					<br>
					
					<form action="" method="post">{% csrf_token %}
						<input type="hidden" name="post" value="yes">
						<input class="btn btn-danger" type="submit" value="Yes, I'm sure">
					</form>
				</div>
			</div>

			<br>
			
    </div>
  </section>
</div>

{% endblock %} 