{% extends "pet/base.html" %}

{% block content %}

<div id="maincontainer">
  <section id="product">
    <div class="container">
      <!--  breadcrumb -->
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'pet:index' %}">Home</a>
          <span class="divider">/</span>
        </li>
        <li class="active"><a href="#">Reset Password</a></li> 
      </ul>

      <!-- Compare -->
      <div class="row">
        <!-- Compare Products-->
        <h1 class="heading1"><span class="maintext"> <i class="icon-refresh"></i> Reset Password</span></h1>

        <div class="span11">

					<h3>Reset Password Form</h3>
					<h4>Fill out your Username, temporary password, and new password and click submit.</h4>

					<br>
					
					<form class="form-horizontal" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
				    <fieldset>
				    	{% for field in form %}

		            <div class="errorlist">
		              <ul> <li>{{ field.errors }}</li> </ul>
		            </div>

				        <div class="control-group">
				          <label for="{{ field.id_for_label }}" id="{{ field.id_for_label }}" class="control-label">
				          	{% if field.field.required %}
					          	<span class="red">*</span>
				          	{% endif %}
				          	{{ field.label }}:</label>
				          <div class="controls">
				          	{{ field }}
				          </div>
				        </div> 

				    	{% endfor %}
				  		<div class="form-actions">
				  			<input class="btn btn-orange" type="submit" value="Submit" >
				  		</div>
				  	</fieldset>
					</form> 
				</div>
			</div>

			<br>
			
    </div>
  </section>
</div>

{% endblock %} 




